* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
}

.container {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f9f9f9;
  padding: 0;
  margin: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #00b1b3;
  padding: 1em;
  font-size: 1.3em;
}

@media screen and (max-width: 767px) {
  nav {
    display: block;
  }
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 0 1em;
}

.nav-item:hover {
  text-decoration: none;
  color: #006666;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #00b1b3;
  color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1em;
  line-height: 2;
  font-size: .9em;
  color: #4d545d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.main_text h3 {
  text-align: center;
}

.main_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 1em;
}

.main_photo img {
  width: 300px;
  height: 250px;
}

.main_photo img:hover {
  border: 2px solid #00b1b3;
  opacity: 0.7;
}

#log_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log_in_fields:not(:last-child) {
  margin-bottom: .5em;
}

.log_in_fields.has-addon .control-addon {
  background: #e3e3e3;
  width: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log_in_fields.has-addon .control-field {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #e3e3e3;
}

.log_in_fields.has-addon .control-field:focus {
  outline: none;
  border: 1px solid #00b1b3;
  -webkit-animation: fadeColor 2s;
          animation: fadeColor 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.log_in_fields.has-addon.has-error > input {
  border: 1px solid red;
}

.log_in_fields.has-addon.has-error > input::-webkit-input-placeholder {
  color: #FF6F6FFF;
}

.log_in_fields.has-addon.has-error > input:-ms-input-placeholder {
  color: #FF6F6FFF;
}

.log_in_fields.has-addon.has-error > input::-ms-input-placeholder {
  color: #FF6F6FFF;
}

.log_in_fields.has-addon.has-error > input::placeholder {
  color: #FF6F6FFF;
}

.log_in_fields > * {
  padding: 0.5em;
}

.log_in_fields.has-addon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box {
  padding: 2em;
  border: 1px solid #00b1b3;
  width: 70%;
  margin: 2em auto;
}

.box-main-content {
  padding: 2em;
  border: 1px solid #00b1b3;
  width: 70%;
  margin: 2em auto;
}

.box-main-content > * {
  margin: auto;
}

@-webkit-keyframes fadeColor {
  50% {
    color: black;
  }
}

@keyframes fadeColor {
  50% {
    color: black;
  }
}

.log_in_fields.has-addon > input {
  font-weight: bold;
  font-size: 1.3em;
}

::-webkit-input-placeholder {
  color: #B4B4B4;
}

:-ms-input-placeholder {
  color: #B4B4B4;
}

::-ms-input-placeholder {
  color: #B4B4B4;
}

::placeholder {
  color: #B4B4B4;
}

.user_button {
  background: white;
  border: 2px solid #00b1b3;
  color: #00b1b3;
  font-weight: bold;
  padding: .3em 1em;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5em;
}

.user_button:hover {
  background: #00b1b3;
  border: 2px solid white;
  color: white;
  outline: none;
}

main > form {
  margin: auto;
}

.btn-link {
  font-size: 0.8em;
  text-decoration: none;
  color: grey;
}

.filed_title_text {
  font-weight: bold;
  font-size: 2em;
  color: #00b1b3;
}

.error_field {
  color: #B90000;
  margin-top: 1em;
  padding: .5em;
  background: #DFB0AA;
}

.tasks-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2em;
}

.tasks-column h3,
p,
h1 {
  color: #7C7C7C;
  margin-bottom: .5em;
}

.tasks-column a {
  text-decoration: none;
  color: #7C7C7C;
}

.single-task {
  padding: 1em 0;
}

.header-title {
  color: #00b1b3;
}

.task-notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.note-body {
  color: #7C7C7C;
  padding-top: 0.5em;
  border-bottom: 1px solid #00b1b3;
}

.sidebar-column {
  margin: 2em auto;
}

.sidebar-column h3 {
  color: #00b1b3;
}

.sidebar-column .archives {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-column .archives a {
  text-decoration: none;
  color: #7C7C7C;
}

#flash-message {
  bottom: 20px;
  position: absolute;
  background-color: #35D643;
  padding: 0.5em 3em;
  color: white;
  right: 20px;
  z-index: 10;
  -webkit-animation: flash-message 10s forwards;
          animation: flash-message 10s forwards;
}

@-webkit-keyframes flash-message {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes flash-message {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

